/* Highlight Structure */
.xchange .fl-row-highlight .fl-row-content,
.xchange .fl-col-highlight .fl-col-content {
	--weight: 1px;
	border: none !important;
	outline: var(--weight) dashed currentColor;
	outline-offset: calc( 0px - var(--weight) );
	min-height: 60px;
}
.xchange .fl-row-highlight .fl-row-content,
.xchange .fl-col-highlight .fl-col-content,
.xchange .fl-col-has-cols.fl-col-highlight > .fl-col-content {
	padding: 0;
}
.xchange .fl-row-highlight:not(.fl-row-full-width) {
	padding: 0 var(--space);
}

:root {
  --shadow-color: 0deg 0% 5%;
  --shadow-elevation-med:
	0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.48),
	0.8px 1.7px 2px -0.9px hsl(var(--shadow-color) / 0.46),
	2.2px 4.4px 5.3px -1.8px hsl(var(--shadow-color) / 0.44),
	5.5px 11.1px 13.5px -2.7px hsl(var(--shadow-color) / 0.42);
}


/* Overlays */
.xchange .fl-block-overlay {
	--outline-color: var(--fg-color);
}
@media(prefers-color-scheme: dark) {
	.xchange .fl-block-overlay {
		--outline-color: hsla(210, 17%, 61%, 1);
		box-shadow: var(--shadow-elevation-med);
	}
}
.xchange .dark .fl-block-overlay {
	--outline-color: hsla(210, 17%, 61%, 1);
	box-shadow: var(--shadow-elevation-med);
}
.xchange .fl-block-overlay:not(.fl-row-overlay) {
	background-color: rgba(132, 132, 132, 0.075);
}
.xchange .fl-block-overlay-actions {
	background-color: var(--outline-color);
}
.xchange .fl-block-overlay-actions i {
	color: var(--bg-color) !important;
}
.xchange .fl-row-full-width .fl-row-overlay,
.xchange .fl-col-overlay,
.xchange .fl-module-overlay {
	left: 0;
	right: 0;
	bottom: 0;
	border-color: var(--outline-color);
}
.xchange .fl-col-overlay,
.xchange .fl-module-overlay {
	top: 0;
}
.xchange .fl-col-highlight {
	padding: 0;
}
.xchange .fl-col-highlight-guide {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.xchange .fl-block-col-resize {
	--handle-width: 12px;
	width: var(--handle-width);
	border-radius: calc( var(--handle-width) / 2 );
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
.xchange .fl-block-col-resize-e {
	right: 0 !important;
	transform: translateX(calc(50% + 1px));
}
.xchange .fl-block-col-resize-w {
	left: 0 !important;
	transform: translateX(calc(-50% - 1px));
}
.xchange .fl-block-col-resize-handle-wrap {
	flex: 0 0 60px;
	position: static;
	top: auto;
	padding: 0;
	margin: 0;
	margin-left: 0 !important;
	max-height: calc( 100% - 20px );
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.xchange .fl-block-col-resize-handle {
	flex: 1 1 auto;
	width: 6px;
	border-radius: 3px;
	border-color: var(--outline-color);
	background-color: var(--bg-color);
}